{% extends 'base.html' %}

{% block title %}
Profile
{% endblock %}

{% block style%}
<link rel="stylesheet" href="/static/css/profile-style.css">
{% endblock %}

{% block content %}
<div class="profile-body container">
    <div class="row">
        <div class="card bg-light col-md-12">
            <div class="row card-body">
                <div class="col-md-2">
                    <div class="userPic"><img src="{{ user.comprofile.CompanyLogo.url }}" alt="Company Logo"></div>
                </div>
                <div class="col-md-7">
                    <div class="title"><h5>{{ user.comprofile.CompanyName }}</h5></div>
                    <div class="desi"><h6>{{ user.comprofile.CompanyType }}</h6></div>
                    <div class="loctext"><i class="fa fa-history" aria-hidden="true"></i> Member Since, {{ month_joined }} {{ user.date_joined.day }}, {{ user.date_joined.year}}</div>
                </div>
                <div class="col-md-3">
                    <div class="loctext"><i class="fa fa-phone pr-2" aria-hidden="true"></i>{{user.comprofile.Contact}}</div>
                    <div class="loctext"><i class="fa fa-envelope pr-1" aria-hidden="true"></i> {{user.comprofile.Email}}</div>
                    <div class="loctext"><i class="fa fa-globe pr-1" aria-hidden="true"></i> {{user.comprofile.Website}}</div>
                    <div class="loctext"><i class="fa fa-map-marker pr-3" aria-hidden="true"></i>{{user.comprofile.Address}}</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" style="padding-left: 0; padding-right: 0;">
    <div class="row">
        <div class="col-md-8">
            <div class="card bg-light mb-3">
                <div class="card-body">
                    <h4 class="card-title border-bottom">About Company</h4>
                    <p>{{user.comprofile.AboutCompany}}</p>
                    <ul>
                    <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</li>
                    <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</li>
                    <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</li>
                    <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</li>
                    <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</li>
                    <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-body user-detail">
                    <h4 class="card-title border-bottom">Company Detail</h4>
                    <ul class="pl-1">
                        <li class="row">
                        <div class="col-md-8 ul font-weight-bold">Total Employees</div>
                        <div class="col-md-4">{{ user.comprofile.TotalEmployees }}</div>
                        </li>
                        <li class="row">
                        <div class="col-md-8 font-weight-bold">Established In</div>
                        <div class="col-md-4">{{user.comprofile.EstablishedIn}}</div>
                        </li>
                        <li class="row">
                        <div class="col-md-8 font-weight-bold">Current Jobs</div>
                        <div class="col-md-4">6</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mb-5 pl-0">
    <a class="btn btn-outline-primary" href="{% url 'editcomprofile' %}">Edit Profile</a>
</div>
{% endblock %}